.section .clients-title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--letter-spacing-main);
  color: var(--navigation-text-color);
  margin-bottom: 50px;
}

.section .clients-logo {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.clients-logo .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-logo .link {
  color: var(--svg-color);
  width: 170px;
  height: 90px;
  border: 1px solid var(--svg-color);
  border-radius: 4px;

  transition: color var(--animation-timing),
    border-color var(--animation-timing);
}

.clients-logo .link:hover,
.clients-logo .link:focus {
  outline: none;
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-logo .logo-icon {
  width: 165px;
  height: 85px;
  fill: currentColor;
}
