.team-section {
  background-color: var(--section-bg-color);
}

.team-section .team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 1.7;
  text-align: center;

  margin-top: 0;
  margin-bottom: 50px;
}

.team-section .team-cards {
  padding: 0px;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.team-section .card {
  margin-bottom: 30px;
}

.team-section .card-item {
  background-color: var(--accent-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.card-item .headline,
.card-item .team-description {
  text-align: center;
}

.team-section .headline {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  margin-top: 0;
  margin-bottom: 10px;
}

.team-section .team-description {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  margin-top: 0;
  margin-bottom: 10px;
}

.social-networks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-networks .social-link {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: transparent;
  border-radius: 50%;
  color: var(--svg-color);

  transition: background-color var(--animation-timing),
    color var(--animation-timing);
}

.social-networks .item:not(:last-child) {
  margin-right: 10px;
}

.social-networks .social-link:hover,
.social-networks .social-link:focus {
  outline: none;
  background-color: var(--accent-color);
  color: var(--accent-color-text);
}

.social-networks .social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
